*,
*::before,
*::after {
  box-sizing: border-box;
}


a {
  text-decoration: none;

}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  margin: 0 auto;
  background-image: url(../images/bg.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.header {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  position: relative;
}

.header-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  transition: all .3s;
  cursor: pointer;
}

.header-title:hover {
  color: #01813F;

}

.border-line {
  position: absolute;
  right: 280px;
  border-right: 1px solid white;
  height: 19px;
  opacity: 0.5;
  transition: all .3s;
  cursor: pointer;
}

.border-line:hover {
  opacity: 0.1;
}

.header-icon-text {
  display: flex;
  align-items: center;


}

.calendar {
  margin-right: 27px;
  transition: all .3s;
}

.calendar:hover path {
  fill: #01813F;
  transition: all .3s;
}

.envelope {
  margin-right: 25px;
  transition: all .3s;
}

.envelope:hover path {
  fill: #01813F;
  transition: all .3s;
}

.compass {
  margin-right: 51px;
  transition: all .3s;

}

.compass:hover path {
  fill: #01813F;
  transition: all .3s;
}


.header-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  cursor: pointer;
  transition: ease .3s;
}

.accent-color-2 {
  opacity: 1;
  transition: ease .3s;
  padding-right: 2px;
  padding-left: 2px;

}

.accent-color-2:hover {
  opacity: 0.5;

}

.accent-color {
  transition: all .3s;
  padding-left: 2px;
}

.accent-color:hover {
  color: #01813F;
}



.main {
  height: 100vh;
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.register-form-container {
  padding: 0 60px;
  width: 444px;
  height: 584px;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
  cursor: pointer;

}

.decor-form {
  width: 18px;
  height: 18px;
  background: #3CB878;
  position: absolute;
  left: 0;
  top: 30px;
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.register-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  cursor: pointer;

}

.login {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
  cursor: pointer;
  transition: all .3s;

}

.login:hover {
  text-decoration: underline;
  color: #01813F;
}

.buttons {
  position: relative;

}


.register-facebook {
  width: 160px;
  height: 48px;
  background: #305DB8;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  transition: all .3s;
  text-align: right;
  padding-right: 22px;
}

.register-facebook:hover {
  background: #022263;
}

.icon-facebook {
  position: absolute;
  left: 16px;
  top: 12px;
}

.facebook-line {
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1;
  position: absolute;
  left: 47px;
  top: 11px;
}

.register-google {
  width: 160px;
  height: 48px;
  background: #DF4A32;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  transition: all .3s;
  text-align: right;
  padding-right: 27px;
}

.register-google:hover {
  background: #AB1F09;
}

.icon-google {
  position: absolute;
  right: 118px;
  top: 15px;
}

.google-line {
  width: 1px;
  height: 28px;
  background: #2B0D09;
  opacity: 0.1;
  position: absolute;
  right: 105px;
  top: 11px;
}


.choice-register {
  margin-top: 30px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  display: flex;
  align-items: center;
}

.form-line {
  background-color: #F2F2F2;
  width: 152px;
  height: 1px;
  display: inline-block;
}



.form-field {
  display: block;
}

.accent-color-3 {
  color: #3CB878;
  transition: all .3s;
}

.accent-color-3:hover {
  color: #01813F;
  text-decoration: underline;
}

.input-style {
  padding-left: 20px;
}


.check-style {
  position: absolute;
  z-index: -1;
  padding-left: 20px;
  cursor: pointer;

}

.check-style+label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #a4a4a4;
}

.check-style:checked+label::before {
  background-image: url(../images/chek.png);
  background-size: cover;
  background-repeat: no-repeat;

}

.btn-register {
  margin-top: 20px;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  transition: all .3s;
}

.btn-register:hover {
  background: #01813F;
}

.input-style {
  margin-bottom: 15px;
  width: 324px;
  height: 44px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  opacity: .5;
}

.input-style:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
  border: none;
  opacity: 1;
}